h1{
    font-size:25px;
    font-weight:bold;
    color:#4e89d6;
    text-decoration: none;
    padding-left:15px;
}

h2{
    font-size:3vw;
    font-weight:bold;
    position: relative; 
    margin:0 auto;
    text-align: center;
}

h3{
    font-size:1vw;
    text-align: center;
    position: relative;
}
@media all and (max-width:){

}

/* ラッパー */

#wrapper {
    overflow: hidden;
    margin:0;
    font-family: '小塚ゴシック Pro', 'Kozuka Gothic Pro', 'ヒラギノ角ゴ Pro W', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
}


/* ヘッダー */

header {
    height:65px;
    width:100%;
    background:linear-gradient(to right, #ddffff, #4e89d6);
    position: fixed;
    top: 0;
    z-index: 100;
    display:flex;
    justify-content:space-between;
    overflow: hidden;
}

.icon{
    width:10%;
    padding:5px 5px 0 ;
    position: relative;
    top:10px;
}

.header-left {
    height:65px;
    display:flex;
    justify-content:flex-start;
    position: relative;
    top:-10px;
}

span{
    color:black; 
    font-size:10px;
}

.header-rights{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-content:center;
    font-weight:bold;
    margin:10px;
    height:3vw;
}

.jump{
    text-align:center;
    display:block;
    border-right:solid thin white;
    text-decoration: none;
    color:white;
    font-size:1.5vw;
    width:10vw;
    margin-top:0.7vw;
}

.jump-last{
    text-align:center;
    display:block;
    text-decoration: none;
    color:white;
    font-size:1.5vw;
    width:10vw;
    margin-top:0.7vw;
}
@media all and (max-width:){

}

/* フッター */

footer{
    height:200px;
    background:#515963;
}

.footer-image{
    width:20%;
    position: relative;
    top:30%;
}

.footer-text{
    color:white;
    font-size:10px;
    position: relative;
    top:-10%;
    text-align: center;
}
@media all and (max-width:){

}

/* トップ */

.top-image{
    width:100%;
}
@media all and (max-width:){

}

/* ABOUT */

.about h2{
    padding-top:5%;
    border-bottom:solid #4e89d6;
    color:#4e89d6;
    width:20vw;
}

.about h3{
    color:black;
    margin-bottom:10%;
}

.about-contents{
    margin:0 auto;
    display:flex;
    position:relative;
    margin-bottom:150px;
    width:80%;
}

.about-image{
    width:60%;
    height:300px;
    position: relative;
}

.about-texts{
    background: linear-gradient(to right, #4d80cc, #4575dd);
    width: 40%;
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-icon {
    position: relative;
    top:5vw;
    left:25.5vw;
    color:#2c4e99;
}

.about-texts h4{
    color:white;
    font-weight:bold;

    padding:15px;
    font-size:15px;
}

.about-texts p{
    color:#ffffff;
    position: relative;
    top:10px;
    font-size:10px;
    margin:0 0 0 10px;
}
@media all and (max-width:){

}

/* ACCESS */

.access{
    background-color: #2c4e99;
}

.access h2{
    padding-top:5%;
    border-bottom:solid white;
    color:white;
    width:20vw;
}

.access h3{
    position: relative;
    color:white;
}

.access-ray{
    margin:0 auto;
    display:flex;
    justify-content: center;
    position: relative;
    top:10%;
    width:90%;
    padding-bottom:5%;
}

.access-contents{
    display:flex;
    flex-direction: column;
    position: relative;
    width:50%;
}

.access-content{
    background-color:white;
    width:100%;
    height:40px;
    position: relative;
    border-radius: 10px 10px 10px 10px; /* 左上・右上・右下・左下 */
    display:flex;
    margin:15px 5px;
}

.access-icon{
    padding:10px 10px 5px ;
}

.topic{
    display:flex;
    justify-content: center;
    color:#2c4e99;
    font-weight:bold;
    font-size:1vw;
    margin:10px 15px ;
    width:30%;
}

.access-text{
    font-size:1vw;
    display:block;
    color:#2c4e99;
    margin:10px 15px ;
}

.map{
    width:50%;
    height:250px;
    position: relative;
    left:3%;
    top:15px;    
}
@media all and (max-width:){

}

/* CONTACT */

.contact h2{
    padding-top:5%;
    border-bottom: solid #4e89d6;
    color:#4e89d6;
    width:20vw;
}

.contact h3{
    margin-bottom:15px;
}

.contact-units{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    width:80%;
    margin:0 auto;
}

.contact-unit{
    margin:10px auto;
}
@media all and (max-width:){

}

/* CONTACT フォーム */

.form-name{
    display:block;
    color:#2c4e99;
    position: relative;
    margin:0 auto;
    left:47%;
    font-weight: bold;
}

.form-kana{
    display:block;
    color:#2c4e99;
    position: relative;
    margin:0 auto;
    left:46%;
    font-weight: bold;  
}

.form-mail{
    display:block;
    color:#2c4e99;
    position: relative;
    margin:0 auto;
    left:44%;
    font-weight: bold;
}

.form-message{
    display:block;
    color:#2c4e99;
    position: relative;
    margin:0 auto;
    left:43%;
    font-weight: bold;
}

.form-body{
    background:#e6f3f3;
    border:1px #4e89d6 solid;
    border-radius: 7px 7px 7px 7px ;
    height:30px;
    width:50vw;
}

textarea {
    resize:none;
    width:50vw;
    height:200px;
    background:#e6f3f3;
    border:1px #4e89d6 solid;
    border-radius: 7px 7px 7px 7px ;
}

.submit{
    width:15%;
    height:50px;
    background:linear-gradient( #abe2eb, #74d1dd);
    font-size:15px;
    color:white;
    margin:15px auto 50px;
}
@media all and (max-width:){

}

/*レスポンシブ　ipad pro横相当*/
@media all and (max-width : 1280px ){

/*header*/

.jump{
    font-size:1.2vw;
    margin-top:1.2vw;
}

.jump-last{
    font-size:1.2vw;
    margin-top:1.2vw;
}
}


/*about-iconの調節*/

@media all and (max-width:960px){
.about-icon {
    top:5vw;
    left:23vw;
}
}


/*レスポンシブ iphone8相当*/
@media all and (max-width : 640px ){
/*header*/

h1{
    font-size:20px;
    position:relative;
    left:-10%;
    margin:2% 0;
}
.icon{
    width:20%;
    left:-13%;
}

.header-left {
    justify-content:center;
}

span{
    position:relative;
    left:10%;
}

.header-rights{
    display:none;
}


/*footer*/

.footer-image{
    width:50%;
}

.footer-text{
    top:10%;
}


/*about*/
.about h2{
    display:block;
    width:20%;
}

.about-contents{
    margin: 0 auto;
    flex-direction: column;
    top:-5%;
    margin-bottom:10%;
    align-items: center;
    width:80%;
}

.about-image{
    width:100%;
    height:50%;
}

.about-texts{
    position: relative;
    top:-10%;
    width:100%;
}

.about-icon {
    top:14vw;
    left:63vw;
}


/*access*/

.access-ray{
    flex-direction:column;
    align-content: center;
    justify-content:center;
    width:90%;
}

.access-contents{
    align-items:center;
    width:100%;
}

.access-content{
    width:100%;
    height:40px;
    left:0%;
}

.access-icon{
    width:10%;
    padding:10px;
}

.topic{
    font-size:8px;
    width:30%;
    position:relative;
    top:10%;
}

.access-text{
    width:60%;
    font-size:7px;
    position:relative;
    top:10%;
}

.map{
    width:100%;
    left:-1%;
    top:15px; 
    padding-bottom:5%;
}


/*content*/

.contact h2{
    display:block;
    margin:0 auto;
    
}

.contact h3{
    margin-bottom:15px;
}


/*contact フォーム*/

.form-name{
    left:44%;
}

.form-kana{
    left:43%;
}

.form-mail{
    left:39%;
}

.form-message{
    left:37%;
}

.form-body{
    position: relative;
    width:70vw;
}

.form-text {
    height:200px;
    width:70vw;
}
}
/*レスポンシブ iphone8　相当　ここまで*/
